{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>
    <p>Quel type d'utilisateur souhaitez-vous ajouter?</p>

    <div class="form-outline mb-4">
        <select id="userType" class="form-control form-control form-control-lg"> 
            <option value="">Select an option</option>
            <option value="etudiant">Etudiant</option>
            <option value="enseignant">Enseignant</option>
            <option value="admin">Admin</option>
        </select>
    </div>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, { label: 'Password' }) }}
    {{ form_row(registrationForm.nom) }}
    {{ form_row(registrationForm.prenom) }}
    {{ form_row(registrationForm.CIN) }}
    <h6 style="color: #FADA5F;">*veuillez s'il vous plaît confirmer le type d'utilisateur.</h6>
    {{ form_row(registrationForm.type) }}

    <div id="classeField" class="d-none">
        {{ form_row(registrationForm.classe) }}
    </div>

    <div id="matieresField" class="d-none">
        {{ form_row(registrationForm.matieres) }}
    </div>

    {{ form_row(registrationForm.departement) }}
        
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#userType').change(function() {
                var selectedType = $(this).val();
                
                if (selectedType === 'etudiant') {
                    $('#classeField').removeClass('d-none');
                    $('#matieresField').addClass('d-none');
                } else if (selectedType === 'enseignant') {
                    $('#classeField').addClass('d-none');
                    $('#matieresField').removeClass('d-none');
                } else {
                    $('#classeField').addClass('d-none');
                    $('#matieresField').addClass('d-none');
                }
            });
        });
    </script>
    <br>
    <button type="submit" class="btn btn-success btn-block">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
