{% extends 'base.html.twig' %}

{% block title %}Jour{% endblock %}

{% block body %}
    <h1>Jour</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jour.id }}</td>
            </tr>
            <tr>
                <th>NomJour</th>
                <td>{{ jour.nomJour ? jour.nomJour|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_jour_index') }}">back to list</a>

    <a href="{{ path('app_jour_edit', {'id': jour.id}) }}">edit</a>

    {{ include('jour/_delete_form.html.twig') }}
{% endblock %}
